{% extends "base.html" %}

{% block title %} About | Sussit {% endblock %}

{% include "header.html" %}


{% block body %}


<section
      class="bg-light text-dark p-5 p-lg-0 pt-lg-5 text-center text-sm-start"
    >
      <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
          <div>
            <h1>About Us</h1>
            <p class="lead my-4">
                An Asia Pacific effort, our team of 4 wanted to help people make better decisions. 
                
                How else could we refocus businesses and consumers on the long term impact of their decisions instead of short term commercial gains?
                
                Then came the idea of a tool to help consumers Sussit out. From dining options to retailers, the opportunities are unlimited. Or so we think. 
                
                Let's start with dining and see where we go.
            </p>
            <p class="lead my-4">
                Check out our <a href="https://www.youtube.com/watch?v=JF_vIHxFgGM">promotional video</a>!
            </p>
          </div>
        </div>
      </div>
    </section>

{% endblock %}