{% extends "base.html" %}

{% block title %} Business | Sussit {% endblock %}

{% include "header.html" %}


{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<h1>My Restaurants</h1>

<table class="table table-light">
    <tr>
        <!-- <th>id</th> -->
        <!-- <th>rev</th> -->
        <th>Store Name</th>
        <th>Category</th>
        <th>Environmental Commitment</th>
        <th>Delivery</th>
        <th>Pickup</th>
        <th>Dine In</th>
        <th>Link</th>
        <th>Action</th>
    </tr>
    {%for store in all_stores%}
        <tr>
            <!-- <td>{{store['_id']}}</td> -->
            <!-- <td>{{store['_rev']}}</td> -->
            <td>{{store['name']}}</td>
            <td>{{store['category']}}</td>
            <td>{{store['environmental_commitment']}}</td>
            <td>{{store.operations.delivery}}</td>
            <td>{{store.operations.pickup}}</td>
            <td>{{store.operations.dine_in}}</td>
            <td><a href="#">{{store.operations.website_link}}</a></td>
            <td>
                <a href="#modaledit{{store._id}}" class="btn btn-primary btn-xs" data-bs-toggle="modal">Edit</a>
                <a href="./delete?_id={{ store._id }}"><button type="submit" class="btn btn-primary btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</button></a>
            </td>
        </tr>

        <div id="modaledit{{store._id}}" class="modal fade" role="dialog">
          <div class="modal-dialog modal-lg">
             <div class="modal-content">
                <div class="modal-header">
                   <h4 class="modal-title">Update Information</h4>
                </div>
                <div class="modal-body">
                   <form action="{{url_for('update')}}" method="POST">
                      {% include 'business-form-update.html' %}
                   </form>
                </div>
                <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
             </div>
          </div>
       </div>

    {% endfor %}
</table>

<a href="#myModal" class="btn btn-lg btn-primary" data-bs-toggle="modal">Add Your Restaurant</a>

<div id="mymodal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
     <div class="modal-content">
        <div class="modal-header">
           <h4 class="modal-title">Restaurant Sign Up</h4>
        </div>
        <div class="modal-body">
            <form action="{{url_for('insert')}}" method="POST">
               {% include 'business-form.html' %}
            </form>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
     </div>
  </div>
</div>

{% endblock %}