{% extends "base.html" %}

{% block title %}Home | Sussit{% endblock %}

{% include "header.html" %}

{% block body %}

<section
      class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start"
    >
      <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
          <div>
            <h1>Helping you make <span class="text-success"> greener </span> decisions</h1>
            <p class="lead my-4">
              We help consumers like you make eco-friendly decisions to something something something.
            </p>
            <p class="lead">
              <a class="btn btn-success btn-lg" href="/about" role="button">Learn more</a>
            </p>
          </div>
          <img
            class="img-fluid w-30 d-none d-sm-block"
            src="../static/img/char1.png"
            alt=""
          />
        </div>
      </div>
    </section>


    <section class="p-5">
      <div class="container">
        <div class="row text-center g-4">
          <div class="col-md">
            <a href="/" style="text-decoration: none;"><div class="card bg-danger text-light">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-laptop"></i>
                </div>
                <h3 class="card-title mb-3">Fast Food</h3>
              </div>
            </div></a>
          </div>
          <div class="col-md">
            <a href="/" style="text-decoration: none;"><div class="card bg-danger text-light">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-person-square"></i>
                </div>
                <h3 class="card-title mb-3">Fine Dining</h3>
              </div>
            </div></a>
          </div>
          <div class="col-md">
            <a href="/" style="text-decoration: none;"><div class="card bg-danger text-light">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-people"></i>
                </div>
                <h3 class="card-title mb-3">Coffee</h3>
              </div>
            </div></a>
          </div>

          <div class="col-md">
            <a href="/" style="text-decoration: none;"><div class="card bg-danger text-light">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-people"></i>
                </div>
                <h3 class="card-title mb-3">Asian</h3>
              </div>
            </div></a>
          </div>
        </div>
      </div>
    </section>


    <section id="learn" class="p-5">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md">
            <img src="../static/img/char2.png" class="img-fluid" alt="" />
          </div>
          <div class="col-md p-5">
            <h2>For Consumers</h2>
            <p class="lead">
              Eat better. Eat sustainably.
            </p>
            <p>
              Not all restaurants and cafes are alike. With more information about your local cafe or restaurant's environmental impact, you can support businesses that align with your goals. Add your rating to help other consumers choose better.
            </p>
            <a href="#" class="btn btn-light mt-3">
              <i class="bi bi-chevron-right"></i> Try Now
            </a>
          </div>
        </div>
      </div>
    </section>

    <section id="learn" class="p-5 bg-dark text-light">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md p-5">
            <h2>For Businesses</h2>
            <p class="lead">
              Give consumers the full picture of what your business stands for.
            </p>
            <p>
              List your business on Sussit to see how you rank and move up the ratings to be more environmentally friendly. If you already use reusable cups, have removed all straws and love the environment as much as you love your food and service; this is your chance to proclaim it to customers.
            </p>
            <a href="#" class="btn btn-light mt-3">
              <i class="bi bi-chevron-right"></i> Try Now
            </a>
          </div>
          <div class="col-md">
            <img src="../static/img/char3.png" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </section>







{% endblock %}
